<!-- Education -->

<section
  id="education-section"
  class="d-flex flex-column justify-content-evenly align-items-center"
>
  <h1
    class="section-title align-self-md-start align-self-lg-start align-self-sm-center mt-lg-5 mt-md-5 mx-md-5 mx-lg-5 mx-sm-0"
  >
    Formação
  </h1>
  <div class="timeline">
    <ul>
      <li>
        <div class="timeline-content">
          <div class="date">22 de Abril, 1999</div>
          <div class="d-flex flex-row col-12 justify-content-between">
            <h5>Bacharel em Sistemas de Informação</h5>
            <h5>CEFET/RJ</h5>
          </div>

          <p>CR: 8.7</p>
          <p>
            O curso de Sistemas de Informação do campus Nova Friburgo obteve
            nota 5 e já é considerado o melhor do país, dentre mais de 500
            cursos em atividade indicados no e-MEC e levando em consideração o
            conceito contínuo divulgado pelo Inep/MEC.
          </p>
        </div>
      </li>
      <li>
        <div class="timeline-content">
          <div class="date">22 de Abril, 1999</div>
          <div class="d-flex flex-row col-12 justify-content-between">
            <h5>Aluno pesquisador</h5>
            <h5>Instituição</h5>
          </div>
          <p>
            Formação e detalhes Formação e detalhes Formação e detalhes Formação
            e detalhes Formação e detalhes Formação e detalhes
          </p>
        </div>
      </li>
      <li>
        <div class="timeline-content">
          <div class="date">22 de Abril, 1999</div>
          <div class="d-flex flex-row col-12 justify-content-between">
            <h5>Título 3</h5>
            <h5>Instituição</h5>
          </div>
          <p>
            Formação e detalhes Formação e detalhes Formação e detalhes Formação
            e detalhes Formação e detalhes Formação e detalhes
          </p>
        </div>
      </li>
      <li>
        <div class="timeline-content">
          <div class="date">22 de Abril, 1999</div>
          <div class="d-flex flex-row col-12 justify-content-between">
            <h5>Título 4</h5>
            <h5>Instituição</h5>
          </div>
          <p>
            Formação e detalhes Formação e detalhes Formação e detalhes Formação
            e detalhes Formação e detalhes Formação e detalhes
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>

<!-- Education -->
