<!-- Education -->

<section
  id="education-section"
  class="d-flex flex-column justify-content-around align-items-center"
>
  <h1
    class="section-title align-self-md-start align-self-lg-start align-self-sm-center mt-lg-5 mt-md-5 mx-md-5 mx-lg-5 mx-sm-0"
  >
    Formação
  </h1>
  <div class="timeline">
    <ul>
      <li>
        <div class="timeline-content">
          <div class="date">Fevereiro de 2018 - Fevereiro 2023</div>
          <div class="d-flex flex-row col-12 justify-content-between">
            <h5>Bacharel em Sistemas de Informação</h5>
            <h5>CEFET/RJ</h5>
          </div>
          <p></p>
          <p>
            Aprovado em 1º lugar.<br />
            CR: 8.7.
          </p>

          <p>
            O curso de Sistemas de Informação do campus Nova Friburgo obteve
            nota 5 e já é considerado o melhor do país, dentre mais de 500
            cursos em atividade indicados no e-MEC e levando em consideração o
            conceito contínuo divulgado pelo Inep/MEC.
          </p>
        </div>
      </li>
      <li>
        <div class="timeline-content">
          <div class="date">Fevereiro de 2019 - Julho de 2019</div>
          <div class="d-flex flex-row col-12 justify-content-between">
            <h5>Monitor de laboratório em C</h5>
            <h5>CEFET/RJ</h5>
          </div>
          <p>
            Disciplina com foco em programação estruturada, utilizando a
            linguagem C para resolução de problemas fictícios.
          </p>
        </div>
      </li>
      <li>
        <div class="timeline-content">
          <div class="date">Agosto de 2019 - Agosto de 2021</div>
          <div class="d-flex flex-row col-12 justify-content-between">
            <h5>Pesquisador</h5>
            <h5>CNPQ</h5>
          </div>
          <p>
            Estudo sobre aprendizado de máquina e suas aplicações, utilizando a
            linguagem Python e as bibliotecas Pandas, Scikit-learn e Numpy.
            Elaboração de artigos para periódicos científicos, abordando
            assuntos como:
          </p>
          <div class="d-flex flex-column align-items-start">
            <a
              href="https://doi.org/10.14295/vetor.v30i1.12879"
              target="_blank"
            >
              Regresão linear múltipla
            </a>

            <a
              href="http://dx.doi.org/10.5753/rbie.2020.28.0.838"
              target="_blank"
            >
              Aprendizado de máquina
            </a>
          </div>
        </div>
      </li>
      <li>
        <div class="timeline-content">
          <div class="date">Janeiro de 2022</div>
          <div class="d-flex flex-row col-12 justify-content-between">
            <h5>What's Data Science</h5>
            <h5>IBM</h5>
          </div>
          <p>
            Curso para aprender conceitos como Machine learning, Deep learning e
            Neural Networks. O discente entende como a ciência de dados é
            aplicada no contexto empresarial.
          </p>
        </div>
      </li>
      <li>
        <div class="timeline-content">
          <div class="date">Fevereiro de 2022</div>
          <div class="d-flex flex-row col-12 justify-content-between">
            <h5>Tools for Data Science</h5>
            <h5>IBM</h5>
          </div>
          <p>
            Entendimento de ferramentas de desenvolvimento como Github, Jupyter
            Notebook, RStudio e linguagens comumente utilizadas por cientistas
            de dados, como Python, R e SQL.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>

<!-- Education -->
