<!-- Professional-xp -->
<section
  id="professional-xp-section"
  class="d-flex flex-column justify-content-around"
>
  <h5
    class="about-title align-self-md-start align-self-lg-start align-self-sm-center mx-md-5 mx-lg-5 mx-sm-0"
  >
    Experiência Profissional
  </h5>
  <div class="card text-center">
    <div class="card-header">Featured</div>
    <div class="card-body">
      <h5 class="card-title">Special title treatment</h5>
      <p class="card-text">
        With supporting text below as a natural lead-in to additional content.
      </p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
    <div class="card-footer text-muted">2 days ago</div>
  </div>
</section>
<!-- Professional-xp -->
