<!-- Education -->

<section
  id="education-section"
  class="d-flex flex-column justify-content-evenly align-items-center"
>
  <div class="timeline">
    <ul>
      <li>
        <div class="timeline-content">
          <div class="date">22 de Abril, 1999</div>
          <div class="d-flex flex-row col-12 justify-content-between">
            <h5>Título 1</h5>
            <h5>Instituição</h5>
          </div>

          <p>
            Formação e detalhes Formação e detalhes Formação e detalhes Formação
            e detalhes Formação e detalhes Formação e detalhes
          </p>
        </div>
      </li>
      <li>
        <div class="timeline-content">
          <div class="date">22 de Abril, 1999</div>
          <div class="d-flex flex-row col-12 justify-content-between">
            <h5>Título 2</h5>
            <h5>Instituição</h5>
          </div>
          <p>
            Formação e detalhes Formação e detalhes Formação e detalhes Formação
            e detalhes Formação e detalhes Formação e detalhes
          </p>
        </div>
      </li>
      <li>
        <div class="timeline-content">
          <div class="date">22 de Abril, 1999</div>
          <div class="d-flex flex-row col-12 justify-content-between">
            <h5>Título 3</h5>
            <h5>Instituição</h5>
          </div>
          <p>
            Formação e detalhes Formação e detalhes Formação e detalhes Formação
            e detalhes Formação e detalhes Formação e detalhes
          </p>
        </div>
      </li>
      <li>
        <div class="timeline-content">
          <div class="date">22 de Abril, 1999</div>
          <div class="d-flex flex-row col-12 justify-content-between">
            <h5>Título 4</h5>
            <h5>Instituição</h5>
          </div>
          <p>
            Formação e detalhes Formação e detalhes Formação e detalhes Formação
            e detalhes Formação e detalhes Formação e detalhes
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>

<!-- Education -->
