@use "../../scss/variables";

#projects-section {
  #graduai {
    background-image: url("../../assets/images/graduai.png");
  }
  #hotcoffee {
    background-image: url("../../assets/images/coffee.jpg");
  }
  #idrinks {
    background-image: url("../../assets/images/drinks.jpg");
  }
  background: linear-gradient(47deg, #d5c7bc 0%, rgba(44, 44, 44, 0) 100%);
  height: 128vh;
  .project-container {
    .play-icon {
      display: none;
    }
    width: 75vw;
    height: 8vh;
    margin-bottom: 1vh;
    overflow: hidden;
    position: relative;
    .img-holder {
      width: 100%;
      height: 100%;
      border-radius: 15px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

      transition: 0.3s ease-in-out;
    }

    .title-container {
      position: absolute;
      width: inherit;
      height: 100%;
      padding: 10px;
      border-radius: 15px;
      top: 0%;
      background: rgba(255, 255, 255, 0.5);
      backdrop-filter: blur(2px);
      color: #000000;
      h2,
      h5 {
        font-weight: 300;
        line-height: 20px;
        margin: 0;
        text-align: center;
      }
      h2 {
        font-size: 24px;
      }
      h5 {
        font-size: 14px;
        color: rgba(0, 0, 0, 0.7);
      }
    }
  }

  #project-highlight {
    animation: clickProject 1s;
    width: 82vw;
    height: 56vh;

    margin-bottom: 5vh;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    transition: all ease 0.5s;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .icons-container {
      display: flex;

      margin: 2vw 2vw;

      i {
        position: relative;
        font-size: 30px !important;
      }
      .disabled {
        cursor: not-allowed;
      }
      .btn-icon {
        width: 7vw;
      }
      .text-icon {
        width: 2vw;
      }
    }

    .title-container {
      position: static;
      border-radius: 0 0 15px 15px;
      top: 0%;

      h5,
      h2 {
        text-align: center;
      }
      h5 {
        margin-bottom: 3vh;
      }
      p {
        line-height: 27px;
      }
    }
  }
  #project-highlight:hover {
    cursor: default !important;
  }
  .icons-container {
    justify-content: space-between;
    color: #000000 !important;
    .tech-icons {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
      .modal {
        .modal-body {
          p {
            line-height: 20px;
          }
          h2 {
            text-align: center;
            i,
            .bi-arrow-up-circle {
              color: #00d622;
              margin-left: 1vw;
            }
            i,
            .bi-arrow-down-circle {
              color: #ff0000;
              margin-left: 1vw;
            }
          }

          li {
            font-weight: lighter;
            font-size: 14px;
            margin: 1vw;
          }

          .projects-container {
            ul {
              list-style: none;
              display: flex;
              flex-wrap: wrap;
              align-items: center;
              justify-content: space-around;
              padding: 0;
            }
            .project-icon {
              width: 45px;
              height: auto;
            }

            .google-logo {
              height: 30px;
            }
            .docs-logo,
            .instagram-logo {
              height: 30px;
              width: 30px;
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 393px) {
  #projects-section {
    height: 150vh;
  }
  #project-highlight {
    height: 82vh !important;
    h2 {
      font-size: 20px !important;
    }

    p,
    a {
      font-size: 12px !important;
    }
    .title-container {
      h5,
      h2 {
        text-align: center;
      }
    }
  }
}
@media only screen and (min-width: 768px) {
  #projects-section {
    height: 100vh;
    background: linear-gradient(
      116.82deg,
      #d5c7bc 0%,
      rgba(44, 44, 44, 0) 100%
    );
    .project-container {
      width: 20vw;
      height: 17vh;

      .img-holder {
        border-radius: 0;
      }

      .title-container {
        position: relative;
        height: 64%;
        border-radius: 0px 0px 10px 10px;
        top: 36%;

        h5,
        h2 {
          text-align: start;
        }
      }
    }
    .bi .bi-play-fill {
      font-size: 24px !important;
    }

    .project-container {
      width: 20vw;
      height: 17vh;
      border-radius: 10px;
      overflow: hidden;

      .title-container {
        position: absolute;
        top: 61%;
        height: 39%;
      }
      .play-icon {
        width: 42px;
        height: 29px;
        position: relative;
        top: 0;
        left: 14vw;

        background: rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(2px);
        border-radius: 10px;

        color: #000000;
        transition: transform 0.4s ease-in;
      }
    }
    .project-container:hover {
      cursor: pointer;
    }
    .project-container:hover .play-icon {
      transform: translateY(-8vh);
    }
    .project-container:hover .img-holder {
      transform: rotate(12deg) scale(1.5);
    }
    #project-highlight {
      .title-container {
        h5,
        h2 {
          text-align: start;
        }
      }
      .icons-container {
        display: flex;
        flex-wrap: wrap;
        margin: 2vw 2vw;

        i {
          position: relative;
          font-size: 30px !important;
        }
        .disabled {
          cursor: not-allowed;
        }
        .btn-icon {
          width: 7vw;
        }
      }
    }
    #project-highlight {
      .icons-container {
        .btn-icon {
          width: 1.5vw;
        }
      }
    }
    #project-highlight:hover {
      cursor: default !important;
    }
  }
}

@keyframes clickProject {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}
