<!-- contact -->

<section
  id="contact-section"
  class="d-flex flex-column justify-content-evenly align-items-center"
>
  <div class="form-container d-flex">
    <div
      class="col-md-10 col-lg-10 col-12 d-flex flex-column justify-content-around"
    >
      <div class="form-content">
        <h1>Entre em contato</h1>

        <p>
          Fique à vontade para entrar em contato em qualquer momento! Você
          receberá uma resposta assim que possível.
        </p>
        <div class="big-square light-brown"></div>
        <form action="">
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              id="name"
              placeholder="Nome"
            />
            <label for="name">Nome</label>
          </div>
          <div class="form-floating mb-3">
            <input
              type="email"
              class="form-control"
              id="email"
              placeholder="nome@exemplo.com"
            />
            <label for="email">Email</label>
          </div>
          <div class="form-floating">
            <textarea
              class="form-control"
              placeholder="Mensagem"
              id="message"
              max-rows="3"
            ></textarea>
            <label for="message">Mensagem</label>
          </div>

          <button type="submit" class="btn btn-dark align-self-end">
            Enviar
          </button>
        </form>
      </div>
    </div>
    <div class="col-md-2 col-lg-2 col-12 light-brown d-flex align-items-end">
      <div class="d-flex justify-content-center w-100 socials">
        <a
          href="https://www.linkedin.com/in/leonardoteodoro-web/"
          target="_blank"
          aria-label="Link para perfil do linkedin do autor"
        >
          <i class="bi bi-linkedin"></i>
        </a>
        <a
          href="https://github.com/Leonardo-teodoro"
          target="_blank"
          aria-label="Link para github do autor"
        >
          <i class="bi bi-github"></i>
        </a>
      </div>
    </div>
    <div class="info-container d-flex flex-column justify-content-evenly">
      <div class="small-square light-brown"></div>
      <h2>Informações</h2>
      <div class="d-flex align-items-center">
        <i class="bi bi-envelope"></i>
        <p>leonardoteodoro.web@gmail.com</p>
      </div>
      <div class="d-flex align-items-center">
        <i class="bi bi-telephone"></i>
        <p>+22 99999-9999</p>
      </div>
      <div class="d-flex align-items-center">
        <i class="bi bi-house"></i>
        <p>Nova Friburgo - RJ</p>
      </div>
    </div>
  </div>
</section>

<!-- contact -->
