<!-- About -->
<section
  id="about-section"
  class="d-flex flex-column justify-content-evenly align-items-center"
>
  <h1
    class="section-title align-self-md-start align-self-lg-start align-self-sm-center mt-lg-5 mt-md-5 mx-md-5 mx-lg-5 mx-sm-0"
  >
    Sobre mim
  </h1>

  <div class="card mb-5">
    <div class="row g-0">
      <div class="col-md-4">
        <img
          src="../assets/images/foto-leonardo-teodoro.jpeg"
          class="img-fluid rounded-start"
          alt="..."
        />
      </div>
      <div class="col-md-8">
        <div class="card-body h-100 d-flex flex-column justify-content-center">
          <h5 class="card-title mb-5">Nova Friburgo, Rio de Janeiro</h5>
          <p class="card-text">
            Olá, me chamo Leonardo e sou apaixonado por tecnologia.
          </p>
          <p class="card-text">
            Nasci em São paulo e hoje moro em Nova Friburgo, Rio de Janeiro. Sou
            uma pessoa comunicativa, que faz amizade rapidamente e que promove a
            harmonia. Meu primeiro contato com tecnologia foi aos meus 10 anos,
            através de jogos. A partir disso, minha paixão pela tecnologia só
            cresceu.
          </p>
          <p class="card-text">
            Aos meus 14 anos, tive contato com robótica e era um dos melhores
            alunos da sala.
          </p>
          <p class="card-text">
            Quando fiz 19 anos, passei em 1º lugar para o curso de Sistemas de
            Informação, no Centro Federal de Educação Tecnológica do Rio de
            Janeiro (CEFET/RJ) em Nova Friburgo. Já atuei como monitor de
            programação estruturada em C, como aluno pesquisador com foco em
            inteligência artificial e como estagiário full stack.
          </p>
          <p class="card-text">
            Como desenvolvedor, trabalhei com o framework
            <a href="https://rubyonrails.org/" target="_blank" class="link"
              >Ruby on Rails</a
            >
            e como pesquisador, utilizei
            <a href="https://www.python.org/" target="_blank" class="link"
              >Python</a
            >.
          </p>
          <p class="card-text">
            Hoje minha ambição é a especialização como Desenvolvedor Front-end.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- About -->
