<!-- First-section -->
<section id="first-section" class="d-flex flex-column justify-content-evenly">
  <div class="d-flex flex-column gap-2 container-greetings">
    <p>Olá :) Eu sou</p>
    <span class="greetings-name">Leonardo Teodoro</span>
    <p>Desenvolvedor Front-end</p>
  </div>
  <div
    class="d-flex flex-row justify-content-lg-end justify-content-md-center justify-content-sm-center justify-content-center"
  >
    <img
      src="./assets/images/programming-char.png"
      alt="Ilustração de pessoa programando"
    />
  </div>
</section>
<!-- First-section -->
